#banner {
    display: flex;
    transition: 0.3s;
    height: 30vh;

    > div {
        width: 25%;
        height: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color:rgba(240, 248, 255, 0)
    }

    > div:hover {
        width: 50%;
        color: white;
    }
}

#banner:hover {
    height: 40vh;
}

#banner__image--1 {
    background-color: red;
}
#banner__image--2 {
    background-color: blue;
}
#banner__image--3 {
    background-color: green;
}
#banner__image--4 {
    background-color: purple;
}